<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;800&display=swap" rel="stylesheet">
</head>
<body class="editar-artigo">
    <h1>Editar artigo</h1>
    <p>Data de Edição: {{ data_atual }}</p>
    <form method="post"> {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Salvar" class="botaoeditar">
    </form>
</body>
</html>